$max-width: 1200px;
$primary-color: #ef6d6d;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$cream-color: #567189;
$red-color: #DF2E38;
$purple-color: #658864;
$gray-color: #D4DCBC;
$bej-color:#D5B4B4;
$bg-image: url('../img/bg.png');
